.symbol-target {
	padding-top: 40px;
	margin-top: -40px;
	width: 1px; /* '0' will not work for Opera */
	display: inline-block;
}

.sidebar-list-entry {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.highlighted-symbol {
	background-color: rgba(255, 200, 0, 0.5);
}

.declaration-content {
}

.tree-node, .tree-leaf {
	text-transform: none;
	font-size: 13px;
}

.custom-icon-list {
	list-style-type: none;
}

.hidden {
	display: none;
}

.d_keyword {
	color: blue;
}

.d_string {
	color: red;
}

.d_comment {
	color: gray;
}

.y_caret {
	width: 4px;
	margin-top: 8px;
}

.inlinecode {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Andale Mono", "Monaco", "DejaVu Sans Mono", "Lucida Console", "monospace";
}

[class*='ddoc-icon-'] {
	display: inline-block;
	width: 16px;
	height: 16px;
}
